ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 36px;
    text-decoration: none;
    font-family: 'Economica';
    font-size: 30px;
}

li a:hover {
    background-color: #111;
}