h1, h2, h3 {
    font-family: 'Economica';
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 36px;
    text-decoration: none;
    font-family: 'Economica';
    font-size: 30px;
}

li a:hover {
    background-color: #111;
}

.first-post {
    width: auto;
}

.first-post-header {
    margin-top: 40px;
    margin-left: 80px;
}

.first-post-img {
    margin-left: 40px;
}

.first-post-content {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans';
}

.first-post-read-more {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans';
    color: #74cfdf;
    text-decoration: none;
}

/* This is the end of the homepage and the start of the news page */

.pirates-post-header {
    margin-top: 40px;
    margin-left: 80px;
}

.pirates-post-img {
    margin-left: 80px;
}

.pirates-post-content {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans';
}

.pirates-read-more {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans';
    color: #74cfdf;
    text-decoration: none;
}

/* This is the end of the news page and the start of the recipes page. */